@{
    ViewBag.Title = "Home Page";
}

<div class="slider rs-slider">
    <div class="tp-banner-container" style="overflow: visible;">
        <div class="tp-banner revslider-initialised tp-simpleresponsive" id="revslider-243" style="height: 500px;">
            <ul style="display: block; overflow: hidden; width: 100%; height: 100%; max-height: none;">
                <li data-delay="7000" data-transition="fade" data-slotamount="7" data-masterspeed="2000" style="width: 100%; height: 100%; overflow: hidden; opacity: 1; visibility: visible; left: 0px; top: 0px; z-index: 18;">
                    <div class="elements">
                        <div class="tp-caption lfl start" data-x="211" data-y="203" data-speed="1000" data-start="1500" data-easing="Power4.easeOut" data-endspeed="500" data-endeasing="Power1.easeIn" style="z-index: 2; left: 211px; top: 203px; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.00166, -232, 0, 0, 1); -webkit-transform: none;">
                            <img src="Content/images/content/slider/rs-slider4-img1.png" alt="" style="width: 217px; height: 172px;">
                        </div>

                        <div class="tp-caption lft start" data-x="97" data-y="271" data-speed="1000" data-start="1000" data-easing="Power4.easeOut" data-endspeed="500" data-endeasing="Power1.easeIn" style="left: 97px; top: 271px; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.00166, 0, -129, 0, 1); -webkit-transform: none;">
                            <img src="Content/images/content/slider/rs-slider4-img2.png" alt="" style="width: 71px; height: 104px;">
                        </div>

                        <div class="tp-caption lft start" data-x="479" data-y="271" data-speed="1000" data-start="1200" data-easing="Power4.easeOut" data-endspeed="500" data-endeasing="Power1.easeIn" style="left: 479px; top: 271px; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.00166, 0, -129, 0, 1); -webkit-transform: none;">
                            <img src="Content/images/content/slider/rs-slider4-img2.png" alt="" style="width: 71px; height: 104px;">
                        </div>

                        <div class="tp-caption lfb start" data-x="-32" data-y="372" data-speed="1000" data-start="1000" data-easing="Power4.easeOut" data-endspeed="500" data-endeasing="Power1.easeIn" style="left: -32px; top: 372px; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.00166, 0, 525, 0, 1); -webkit-transform: none;">
                            <img src="Content/images/content/slider/rs-slider4-img3.png" alt="" style="width: 764px; height: 76px;">
                        </div>

                        <div class="tp-caption lft start" data-x="166" data-y="167" data-speed="1000" data-start="1000" data-easing="Power4.easeOut" data-endspeed="500" data-endeasing="Power1.easeIn" style="left: 166px; top: 167px; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.00166, 0, -96, 0, 1); -webkit-transform: none;">
                            <img src="Content/images/content/slider/rs-slider4-img4.png" alt="" style="width: 247px; height: 71px;">
                        </div>

                        <div class="tp-caption customin start" data-x="177" data-y="62" data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 100%;" data-speed="700" data-start="1400" data-easing="Power4.easeOut" data-endspeed="500" data-endeasing="Power1.easeIn" style="z-index: 3; left: 177px; top: 62px; visibility: hidden; opacity: 0; transform-origin: 50% 100% 0px; transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, -0.00166, 0, 0, 0, 1); -webkit-transform: none;">
                            <img src="Content/images/content/slider/rs-slider4-img5.png" alt="" style="width: 166px; height: 107px;">
                        </div>

                        <div class="tp-caption lft start" data-x="487" data-y="69" data-speed="1000" data-start="1500" data-easing="Power4.easeOut" data-endspeed="500" data-endeasing="Power1.easeIn" style="z-index: 1; left: 487px; top: 69px; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.00166, 0, -182, 0, 1); -webkit-transform: none;">
                            <img src="Content/images/content/slider/rs-slider4-img6.png" alt="" style="width: 104px; height: 157px;">
                        </div>

                        <div class="tp-caption lfl start" data-x="539" data-y="177" data-speed="1000" data-start="1000" data-easing="Power4.easeOut" data-endspeed="500" data-endeasing="Power1.easeIn" style="z-index: 3; left: 539px; top: 177px; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.00166, -110, 0, 0, 1); -webkit-transform: none;">
                            <img src="Content/images/content/slider/rs-slider4-img7.png" alt="" style="width: 95px; height: 197px;">
                        </div>

                        <div class="tp-caption lfl lft start" data-x="7" data-y="134" data-speed="1000" data-start="1700" data-easing="Power4.easeOut" data-endspeed="500" data-endeasing="Power1.easeIn" style="z-index: 3; left: 7px; top: 134px; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.00166, -290, 0, 0, 1); -webkit-transform: none;">
                            <img src="Content/images/content/slider/rs-slider4-img8.png" alt="" style="width: 275px; height: 240px;">
                        </div>

                        <div class="tp-caption customin start" data-x="375" data-y="78" data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="1000" data-start="1500" data-easing="Power4.easeOut" data-endspeed="500" data-endeasing="Power1.easeIn" style="left: 375px; top: 78px; visibility: hidden; opacity: 0; transform-origin: 50% 50% 0px; transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, -0.00166, 0, 0, 0, 1); -webkit-transform: none;">
                            <img src="Content/images/content/slider/rs-slider4-img9.png" alt="" style="width: 101px; height: 101px;">
                        </div>

                        <div class="tp-caption lfb start" data-x="141" data-y="297" data-speed="1000" data-start="1800" data-easing="Power4.easeOut" data-endspeed="500" data-endeasing="Power1.easeIn" style="z-index: 4; left: 141px; top: 297px; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.00166, 0, 525, 0, 1); -webkit-transform: none;">
                            <img src="Content/images/content/slider/rs-slider4-img10.png" alt="" style="width: 64px; height: 77px;">
                        </div>

                        <div class="tp-caption lfl start" data-x="428" data-y="356" data-speed="500" data-start="2000" data-easing="Power4.easeOut" data-endspeed="500" data-endeasing="Power1.easeIn" style="z-index: 3; left: 428px; top: 356px; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.00166, -50, 0, 0, 1); -webkit-transform: none;">
                            <img src="Content/images/content/slider/rs-slider4-img11.png" alt="" style="width: 35px; height: 14px;">
                        </div>

                        <div class="tp-caption lfb start" data-x="225" data-y="335" data-speed="1000" data-start="1880" data-easing="Power4.easeOut" data-endspeed="500" data-endeasing="Power1.easeIn" style="z-index: 4; left: 225px; top: 335px; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.00166, 0, 525, 0, 1); -webkit-transform: none;">
                            <img src="Content/images/content/slider/rs-slider4-img12.png" alt="" style="width: 33px; height: 25px;">
                        </div>

                        <div class="tp-caption lfb start" data-x="258" data-y="341" data-speed="1000" data-start="1960" data-easing="Power4.easeOut" data-endspeed="500" data-endeasing="Power1.easeIn" style="z-index: 4; left: 258px; top: 341px; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.00166, 0, 525, 0, 1); -webkit-transform: none;">
                            <img src="Content/images/content/slider/rs-slider4-img13.png" alt="" style="width: 33px; height: 25px;">
                        </div>

                        <div class="tp-caption lfb start" data-x="395" data-y="335" data-speed="1000" data-start="2040" data-easing="Power4.easeOut" data-endspeed="500" data-endeasing="Power1.easeIn" style="z-index: 4; left: 395px; top: 335px; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.00166, 0, 525, 0, 1); -webkit-transform: none;">
                            <img src="Content/images/content/slider/rs-slider4-img14.png" alt="" style="width: 33px; height: 25px;">
                        </div>

                        <h2 class="tp-caption lft skewtotop title start" data-x="722" data-y="101" data-speed="1000" data-start="1700" data-easing="Power4.easeOut" data-endspeed="500" data-endeasing="Power1.easeIn" style="min-height: 0px; min-width: 0px; line-height: 52px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 40px; left: 722px; top: 101px; visibility: visible; opacity: 0; transition: all 0s ease 0s; -webkit-transition: all 0s ease 0s; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.00166, 0, -77, 0, 1); -webkit-transform: none;">
                            <strong>DIY</strong>
                        </h2>

                        <div class="tp-caption lfr skewtoright description start" data-x="707" data-y="189" data-speed="1000" data-start="1500" data-easing="Power4.easeOut" data-endspeed="500" data-endeasing="Power1.easeIn" style="min-height: 0px; min-width: 0px; line-height: 25px; border-width: 0px; margin: 0px; padding: 0px 15px; letter-spacing: 0px; font-size: 17px; left: 707px; top: 189px; visibility: visible; opacity: 0; transition: all 0s ease 0s; -webkit-transition: all 0s ease 0s; transform: matrix3d(1, 0, 0, 0, 0.57357, 0.81915, 0, 0, 0, 0, 1, -0.0025, 1260, 0, 0, 1); -webkit-transform: none;">
                            <p>
                                We added <strong>more than 80 items</strong> to the standard page design.
                                You can form the page yourself by placing any information
                                you want – graphs, tables, buttons, slides, animated
                                content, maps and so on.
                            </p>
                        </div>

                        <a href="http://themeforest.net/item/progressive-multipurpose-responsive-template/7197521" class="btn cherry tp-caption lfb btn-default start" data-x="722" data-y="342" data-speed="1000" data-start="1700" data-easing="Power4.easeOut" data-endspeed="500" data-endeasing="Power1.easeIn" style="min-height: 0px; min-width: 0px; line-height: 22px; border-width: 0px; margin: 0px; padding: 10px 20px; letter-spacing: 0px; font-size: 14px; left: 722px; top: 342px; visibility: visible; opacity: 0; transition: background 0.2s linear 0s, color 0.2s linear 0s; -webkit-transition: background 0.2s linear 0s, color 0.2s linear 0s; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.00166, 0, 525, 0, 1); -webkit-transform: none;">
                            Read more
                        </a>
                    </div>

                    <div class="slotholder" style="width:100%;height:100%;" data-duration="undefined" data-zoomstart="undefined" data-zoomend="undefined" data-rotationstart="undefined" data-rotationend="undefined" data-ease="undefined" data-bgpositionend="undefined" data-bgposition="center top" data-kenburns="undefined" data-easeme="undefined" data-bgfit="cover" data-bgfitend="undefined" data-owidth="undefined" data-oheight="undefined"><div class="tp-bgimg defaultimg" data-lazyload="undefined" data-bgfit="cover" data-bgposition="center top" data-bgrepeat="no-repeat" data-lazydone="undefined" src="Content/images/content/slider/rs-slider4-bg.jpg" data-src="Content/images/content/slider/rs-slider4-bg.jpg" style="width: 100%; height: 100%; position: relative; opacity: 0; background-image: url('file:///C:/Users/APong/Downloads/progressive-template-main/Template%20v2.1.5%20(bootstrap%203)/img/content/slider/rs-slider4-bg.jpg'); background-color: rgba(0, 0, 0, 0); background-size: cover; background-position: 50% 0%; background-repeat: no-repeat;"></div></div>
                </li>

                <li data-delay="7000" data-transition="fade" data-slotamount="7" data-masterspeed="2000" style="width: 100%; height: 100%; overflow: hidden; opacity: 1; visibility: visible; left: 0px; top: 0px; z-index: 18;">
                    <div class="elements">
                        <div class="tp-caption lfb skewtobottom start" data-x="145" data-y="66" data-speed="1000" data-start="500" data-easing="Power4.easeOut" data-endspeed="500" data-endeasing="Power1.easeIn" style="z-index: 3; left: 145px; top: 66px; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.00166, 0, 525, 0, 1); -webkit-transform: none;">
                            <img src="Content/images/content/slider/rs-slider1-phone.png" alt="" style="width: 375px; height: 434px;">
                        </div>

                        <div class="tp-caption lfb skewtobottom start" data-x="307" data-y="105" data-speed="1000" data-start="500" data-easing="Power4.easeOut" data-endspeed="400" data-endeasing="Power1.easeIn" style="z-index: 1; left: 307px; top: 105px; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.00166, 0, 525, 0, 1); -webkit-transform: none;">
                            <img src="Content/images/content/slider/rs-slider1-phone-bg.png" alt="" style="width: 160px; height: 296px;">
                        </div>

                        <h2 class="tp-caption sft skewtotop title start" data-x="590" data-y="101" data-speed="1000" data-start="500" data-easing="Power4.easeOut" data-endspeed="400" data-endeasing="Power1.easeIn" style="min-height: 0px; min-width: 0px; line-height: 52px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 40px; left: 590px; top: 101px; visibility: visible; opacity: 0; transition: all 0s ease 0s; -webkit-transition: all 0s ease 0s; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.00166, 0, -50, 0, 1); -webkit-transform: none;">
                            Clean &amp; Valid code
                        </h2>

                        <div class="tp-caption lfr skewtoright description cm-description-2 start" data-x="575" data-y="189" data-speed="1000" data-start="1000" data-easing="Power4.easeOut" data-endspeed="400" data-endeasing="Power1.easeIn" style="min-height: 0px; min-width: 0px; line-height: 25px; border-width: 0px; margin: 0px; padding: 0px 110px 0px 15px; letter-spacing: 0px; font-size: 17px; left: 575px; top: 189px; visibility: visible; opacity: 0; transition: all 0s ease 0s; -webkit-transition: all 0s ease 0s; transform: matrix3d(1, 0, 0, 0, 0.57357, 0.81915, 0, 0, 0, 0, 1, -0.0025, 1260, 0, 0, 1); -webkit-transform: none;">
                            <p>
                                Perfect HTML5 &amp; CSS3. Valid code, latest technologies, always
                                up-to-date. Compatible with the latest desktop and mobile
                                browsers down to IE8. Works perfectly wherever you need
                                and wherever you want.
                            </p>
                        </div>

                        <a href="http://themeforest.net/item/progressive-multipurpose-responsive-template/7197521" class="btn tp-caption customin cherry btn-default start" data-x="590" data-y="332" data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="1200" data-start="1400" data-easing="Power3.easeInOut" data-endspeed="300" style="z-index: 5; min-height: 0px; min-width: 0px; line-height: 22px; border-width: 0px; margin: 0px; padding: 10px 20px; letter-spacing: 0px; font-size: 14px; left: 590px; top: 332px; visibility: hidden; opacity: 0; transform-origin: 50% 50% 0px; transition: background 0.2s linear 0s, color 0.2s linear 0s; -webkit-transition: background 0.2s linear 0s, color 0.2s linear 0s; transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, -0.00166, 0, 0, 0, 1); -webkit-transform: none;">
                            Read more
                        </a>

                        <div class="tp-caption customin customout start" data-x="337" data-y="148" data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="1200" data-start="800" data-easing="Power3.easeInOut" data-endspeed="300" style="z-index: 5; left: 337px; top: 148px; visibility: visible; opacity: 0; transform-origin: 50% 50% 0px; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.00166, 0, 0, 0, 1); -webkit-transform: none;">
                            <img src="Content/images/content/slider/rs-slider1-html5-1.png" alt="" style="width: 99px; height: 111px;">
                        </div>

                        <div class="tp-caption customin start" data-x="355" data-y="158" data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="1200" data-start="1200" data-easing="Power3.easeInOut" data-end="3300" data-endspeed="400" style="z-index: 5; left: 355px; top: 158px; visibility: hidden; opacity: 0; transform-origin: 50% 50% 0px; transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, -0.00166, 0, 0, 0, 1); -webkit-transform: none;">
                            <img src="Content/images/content/slider/rs-slider1-html5-2.png" alt="" style="width: 72px; height: 91px;">
                        </div>

                        <div class="tp-caption customin start" data-x="355" data-y="158" data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="1200" data-start="3700" data-easing="Power3.easeInOut" data-endspeed="100" style="z-index: 5; left: 355px; top: 158px; visibility: hidden; opacity: 0; transform-origin: 50% 50% 0px; transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, -0.00166, 0, 0, 0, 1); -webkit-transform: none;">
                            <img src="Content/images/content/slider/rs-slider1-css3.png" alt="" style="width: 72px; height: 91px;">
                        </div>

                        <div class="tp-caption lfb skewtobottom customin customout phone-text start" data-x="359" data-y="325" data-customin="x:0;y:55;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-customout="x:0;y:55;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="1000" data-start="1000" data-easing="Power0.easeOut" data-end="3500" data-endspeed="400" data-endeasing="Power0.easeIn" data-captionhidden="on" style="z-index: 2; min-height: 0px; min-width: 0px; line-height: 27px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 17px; left: 359px; top: 325px; visibility: visible; opacity: 0; transform-origin: 50% 50% 0px; transition: all 0s ease 0s; -webkit-transition: all 0s ease 0s; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.00166, 0, 55, 0, 1); -webkit-transform: none;">
                            HTML5
                        </div>

                        <div class="tp-caption lfb skewtobottom customin customout phone-text start" data-x="365" data-y="325" data-customin="x:0;y:55;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-customout="x:0;y:55;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="1000" data-start="3600" data-easing="Power0.easeOut" data-endspeed="400" data-endeasing="Power0.easeIn" data-captionhidden="on" style="z-index: 2; min-height: 0px; min-width: 0px; line-height: 27px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 17px; left: 365px; top: 325px; visibility: visible; opacity: 0; transform-origin: 50% 50% 0px; transition: all 0s ease 0s; -webkit-transition: all 0s ease 0s; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.00166, 0, 55, 0, 1); -webkit-transform: none;">
                            CSS3
                        </div>
                    </div>

                    <div class="slotholder" style="width:100%;height:100%;" data-duration="undefined" data-zoomstart="undefined" data-zoomend="undefined" data-rotationstart="undefined" data-rotationend="undefined" data-ease="undefined" data-bgpositionend="undefined" data-bgposition="center top" data-kenburns="undefined" data-easeme="undefined" data-bgfit="cover" data-bgfitend="undefined" data-owidth="undefined" data-oheight="undefined"><div class="tp-bgimg defaultimg" data-lazyload="undefined" data-bgfit="cover" data-bgposition="center top" data-bgrepeat="no-repeat" data-lazydone="undefined" src="Content/images/content/slider/rs-slider1-bg.jpg" data-src="Content/images/content/slider/rs-slider1-bg.jpg" style="width: 100%; height: 100%; position: relative; opacity: 0; background-image: url('file:///C:/Users/APong/Downloads/progressive-template-main/Template%20v2.1.5%20(bootstrap%203)/img/content/slider/rs-slider1-bg.jpg'); background-color: rgba(0, 0, 0, 0); background-size: cover; background-position: 50% 0%; background-repeat: no-repeat;"></div></div>
                </li>

                <li data-delay="10300" data-transition="fade" data-slotamount="7" data-masterspeed="2000" class="slid2" style="width: 100%; height: 100%; overflow: hidden; opacity: 1; visibility: visible; left: 0px; top: 0px; z-index: 18;">
                    <div class="elements">
                        <h2 class="tp-caption sft skewtotop title start" data-x="15" data-y="101" data-speed="1000" data-start="1100" data-easing="Power4.easeOut" data-endspeed="400" data-endeasing="Power1.easeIn" style="min-height: 0px; min-width: 0px; line-height: 52px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 40px; left: 15px; top: 101px; visibility: visible; opacity: 0; transition: all 0s ease 0s; -webkit-transition: all 0s ease 0s; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.00166, 0, -50, 0, 1); -webkit-transform: none;">
                            Four homepages
                        </h2>

                        <div class="tp-caption lfl skewtoleft description col-xs-5 start" data-x="0" data-y="189" data-speed="1000" data-start="1000" data-easing="Power4.easeOut" data-endspeed="400" data-endeasing="Power1.easeIn" style="min-height: 1px; min-width: 0px; line-height: 25px; border-width: 0px; margin: 0px; padding: 0px 15px; letter-spacing: 0px; font-size: 17px; left: 0px; top: 189px; visibility: visible; opacity: 0; transition: all 0s ease 0s; -webkit-transition: all 0s ease 0s; transform: matrix3d(1, 0, 0, 0, -0.57357, 0.81915, 0, 0, 0, 0, 1, -0.0025, -1260, 0, 0, 1); -webkit-transform: none;">
                            <p>
                                We have developed four different homepages for you to choose
                                the most convenient one. Make your choice based on your own
                                taste and sense of style, use extra elements and Twitter
                                Bootstrap to build any page you want.
                            </p>
                        </div>

                        <a href="http://themeforest.net/item/progressive-multipurpose-responsive-template/7197521" class="btn btn-primary tp-caption customin start" data-x="15" data-y="332" data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="1200" data-start="1000" data-easing="Power3.easeInOut" data-endspeed="300" style="z-index: 5; min-height: 0px; min-width: 0px; line-height: 22px; border-width: 0px; margin: 0px; padding: 10px 20px; letter-spacing: 0px; font-size: 14px; left: 15px; top: 332px; visibility: hidden; opacity: 0; transform-origin: 50% 50% 0px; transition: background 0.2s linear 0s, color 0.2s linear 0s; -webkit-transition: background 0.2s linear 0s, color 0.2s linear 0s; transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, -0.00166, 0, 0, 0, 1); -webkit-transform: none;">
                            Read more
                        </a>

                        <div class="tp-caption lfb skewtobottom customin start" data-x="right" data-hoffset="100" data-y="70" data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:-360;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="1000" data-start="1000" data-easing="Power4.easeOut" data-end="14000" data-endspeed="500" data-endeasing="Power1.easeIn" style="z-index: 3; left: 569px; top: 70px; visibility: hidden; opacity: 0; transform-origin: 50% 50% 0px; transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, -0.00166, 0, 0, 0, 1); -webkit-transform: none;">
                            <img src="Content/images/content/slider/rs-slider2-img.png" alt="" style="width: 731px; height: 284px;">
                        </div>

                        <div class="tp-caption lfb customout start" data-x="right" data-hoffset="-126" data-y="70" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="400" data-start="2000" data-easing="Power0.easeOut" data-end="3000" data-endspeed="400" data-endeasing="Power0.easeIn" data-captionhidden="on" style="z-index: 2; left: 797px; top: 70px; visibility: visible; opacity: 0; transform-origin: 50% 50% 0px; transform: matrix3d(0.75, 0, 0, 0, 0, 0.75, 0, 0, 0, 0, 1, -0.00166, 0, 0, 0, 1); -webkit-transform: none;">
                            <img src="Content/images/content/slider/rs-slider2-homepage1.png" alt="" style="width: 277px; height: 280px;">
                        </div>

                        <div class="tp-caption lfb customout start" data-x="right" data-hoffset="-126" data-y="70" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="400" data-start="3500" data-easing="Power0.easeOut" data-end="4500" data-endspeed="400" data-endeasing="Power0.easeIn" data-captionhidden="on" style="z-index: 2; left: 797px; top: 70px; visibility: visible; opacity: 0; transform-origin: 50% 50% 0px; transform: matrix3d(0.75, 0, 0, 0, 0, 0.75, 0, 0, 0, 0, 1, -0.00166, 0, 0, 0, 1); -webkit-transform: none;">
                            <img src="Content/images/content/slider/rs-slider2-homepage2.png" alt="" style="width: 277px; height: 280px;">
                        </div>

                        <div class="tp-caption lfb customout start" data-x="right" data-hoffset="-126" data-y="70" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="400" data-start="5000" data-easing="Power0.easeOut" data-end="6000" data-endspeed="400" data-endeasing="Power0.easeIn" data-captionhidden="on" style="z-index: 2; left: 797px; top: 70px; visibility: visible; opacity: 0; transform-origin: 50% 50% 0px; transform: matrix3d(0.75, 0, 0, 0, 0, 0.75, 0, 0, 0, 0, 1, -0.00166, 0, 0, 0, 1); -webkit-transform: none;">
                            <img src="Content/images/content/slider/rs-slider2-homepage3.png" alt="" style="width: 277px; height: 280px;">
                        </div>

                        <div class="tp-caption lfb customout start" data-x="right" data-hoffset="-126" data-y="70" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="400" data-start="6500" data-easing="Power0.easeOut" data-end="7500" data-endspeed="400" data-endeasing="Power0.easeIn" data-captionhidden="on" style="z-index: 2; left: 797px; top: 70px; visibility: visible; opacity: 0; transform-origin: 50% 50% 0px; transform: matrix3d(0.75, 0, 0, 0, 0, 0.75, 0, 0, 0, 0, 1, -0.00166, 0, 0, 0, 1); -webkit-transform: none;">
                            <img src="Content/images/content/slider/rs-slider2-homepage4.png" alt="" style="width: 277px; height: 280px;">
                        </div>

                        <div class="tp-caption  customout start" data-x="right" data-hoffset="-208" data-y="130" data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:1;transformPerspective:600;transformOrigin:50% 50%;" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="1" data-start="2300" data-easing="Power0.easeOut" data-end="3800" data-endspeed="1" data-endeasing="Power0.easeIn" data-captionhidden="on" style="z-index: 4; left: 882px; top: 130px; visibility: visible; opacity: 0; transform-origin: 50% 50% 0px; transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, -0.00166, 0, 0, 0, 1); -webkit-transform: none;">
                            <img src="Content/images/content/slider/rs-slider2-one.png" alt="" style="width: 110px; height: 168px;">
                        </div>

                        <div class="tp-caption customin customout start" data-x="right" data-hoffset="-208" data-y="130" data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:1;transformPerspective:600;transformOrigin:50% 50%;" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="1" data-start="3800" data-easing="Power0.easeOut" data-end="5300" data-endspeed="1" data-endeasing="Power0.easeIn" data-captionhidden="on" style="z-index: 4; left: 882px; top: 130px; visibility: visible; opacity: 0; transform-origin: 50% 50% 0px; transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, -0.00166, 0, 0, 0, 1); -webkit-transform: none;">
                            <img src="Content/images/content/slider/rs-slider2-two.png" alt="" style="width: 110px; height: 168px;">
                        </div>

                        <div class="tp-caption customin customout start" data-x="right" data-hoffset="-208" data-y="130" data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:1;transformPerspective:600;transformOrigin:50% 50%;" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="1" data-start="5300" data-easing="Power0.easeOut" data-end="6800" data-endspeed="1" data-endeasing="Power0.easeIn" data-captionhidden="on" style="z-index: 4; left: 882px; top: 130px; visibility: visible; opacity: 0; transform-origin: 50% 50% 0px; transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, -0.00166, 0, 0, 0, 1); -webkit-transform: none;">
                            <img src="Content/images/content/slider/rs-slider2-three.png" alt="" style="width: 110px; height: 168px;">
                        </div>

                        <div class="tp-caption customin customout start" data-x="right" data-hoffset="-208" data-y="130" data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:1;transformPerspective:600;transformOrigin:50% 50%;" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="1" data-start="6800" data-easing="Power0.easeOut" data-end="8000" data-endspeed="1" data-endeasing="Power0.easeIn" data-captionhidden="on" style="z-index: 4; left: 882px; top: 130px; visibility: visible; opacity: 0; transform-origin: 50% 50% 0px; transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, -0.00166, 0, 0, 0, 1); -webkit-transform: none;">
                            <img src="Content/images/content/slider/rs-slider2-four.png" alt="" style="width: 110px; height: 168px;">
                        </div>

                        <div class="tp-caption customin customout start" data-x="right" data-hoffset="-208" data-y="130" data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:1;transformPerspective:600;transformOrigin:50% 50%;" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="1" data-start="8200" data-easing="Power0.easeOut" data-end="8300" data-endspeed="1" data-endeasing="Power0.easeIn" data-captionhidden="on" style="z-index: 4; left: 882px; top: 130px; visibility: visible; opacity: 0; transform-origin: 50% 50% 0px; transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, -0.00166, 0, 0, 0, 1); -webkit-transform: none;">
                            <img src="Content/images/content/slider/rs-slider2-four.png" alt="" style="width: 110px; height: 168px;">
                        </div>

                        <div class="tp-caption customin customout start" data-x="right" data-hoffset="-208" data-y="130" data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:1;transformPerspective:600;transformOrigin:50% 50%;" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="1" data-start="8400" data-easing="Power0.easeOut" data-end="8500" data-endspeed="1" data-endeasing="Power0.easeIn" data-captionhidden="on" style="z-index: 4; left: 882px; top: 130px; visibility: visible; opacity: 0; transform-origin: 50% 50% 0px; transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, -0.00166, 0, 0, 0, 1); -webkit-transform: none;">
                            <img src="Content/images/content/slider/rs-slider2-four.png" alt="" style="width: 110px; height: 168px;">
                        </div>

                        <div class="tp-caption customin customout start" data-x="right" data-hoffset="-208" data-y="130" data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:1;transformPerspective:600;transformOrigin:50% 50%;" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="1" data-start="8600" data-easing="Power0.easeOut" data-end="8700" data-endspeed="1" data-endeasing="Power0.easeIn" data-captionhidden="on" style="z-index: 4; left: 882px; top: 130px; visibility: visible; opacity: 0; transform-origin: 50% 50% 0px; transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, -0.00166, 0, 0, 0, 1); -webkit-transform: none;">
                            <img src="Content/images/content/slider/rs-slider2-four.png" alt="" style="width: 110px; height: 168px;">
                        </div>

                        <div class="tp-caption customin customout start" data-x="right" data-hoffset="-208" data-y="130" data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:1;transformPerspective:600;transformOrigin:50% 50%;" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="1" data-start="8800" data-easing="Power0.easeOut" data-end="8900" data-endspeed="1" data-endeasing="Power0.easeIn" data-captionhidden="on" style="z-index: 4; left: 882px; top: 130px; visibility: visible; opacity: 0; transform-origin: 50% 50% 0px; transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, -0.00166, 0, 0, 0, 1); -webkit-transform: none;">
                            <img src="Content/images/content/slider/rs-slider2-four.png" alt="" style="width: 110px; height: 168px;">
                        </div>

                        <div class="tp-caption customin customout start" data-x="right" data-hoffset="-239" data-y="187" data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:1;transformPerspective:600;transformOrigin:50% 50%;" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="1" data-start="9000" data-easing="Power0.easeOut" data-end="10300" data-endspeed="1" data-endeasing="Power0.easeIn" data-captionhidden="on" style="z-index: 4; left: 913px; top: 187px; visibility: visible; opacity: 0; transform-origin: 50% 50% 0px; transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, -0.00166, 0, 0, 0, 1); -webkit-transform: none;">
                            <img src="Content/images/content/slider/rs-slider2-quadrate1.png" alt="" style="width: 48px; height: 48px;">
                        </div>

                        <div class="tp-caption customin customout start" data-x="right" data-hoffset="-224" data-y="172" data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:1;transformPerspective:600;transformOrigin:50% 50%;" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="1" data-start="9100" data-easing="Power0.easeOut" data-end="10200" data-endspeed="1" data-endeasing="Power0.easeIn" data-captionhidden="on" style="z-index: 4; left: 897px; top: 172px; visibility: visible; opacity: 0; transform-origin: 50% 50% 0px; transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, -0.00166, 0, 0, 0, 1); -webkit-transform: none;">
                            <img src="Content/images/content/slider/rs-slider2-quadrate2.png" alt="" style="width: 79px; height: 79px;">
                        </div>

                        <div class="tp-caption customin customout start" data-x="right" data-hoffset="-209" data-y="157" data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:1;transformPerspective:600;transformOrigin:50% 50%;" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="1" data-start="9200" data-easing="Power0.easeOut" data-end="10100" data-endspeed="1" data-endeasing="Power0.easeIn" data-captionhidden="on" style="z-index: 4; left: 881px; top: 157px; visibility: visible; opacity: 0; transform-origin: 50% 50% 0px; transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, -0.00166, 0, 0, 0, 1); -webkit-transform: none;">
                            <img src="Content/images/content/slider/rs-slider2-quadrate3.png" alt="" style="width: 110px; height: 107px;">
                        </div>

                        <div class="tp-caption customin customout start" data-x="right" data-hoffset="-194" data-y="142" data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:1;transformPerspective:600;transformOrigin:50% 50%;" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="1" data-start="9300" data-easing="Power0.easeOut" data-end="10000" data-endspeed="1" data-endeasing="Power0.easeIn" data-captionhidden="on" style="z-index: 4; left: 866px; top: 142px; visibility: visible; opacity: 0; transform-origin: 50% 50% 0px; transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, -0.00166, 0, 0, 0, 1); -webkit-transform: none;">
                            <img src="Content/images/content/slider/rs-slider2-quadrate4.png" alt="" style="width: 140px; height: 138px;">
                        </div>

                        <div class="tp-caption customin customout start" data-x="right" data-hoffset="-179" data-y="127" data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:1;transformPerspective:600;transformOrigin:50% 50%;" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="1" data-start="9400" data-easing="Power0.easeOut" data-end="9900" data-endspeed="1" data-endeasing="Power0.easeIn" data-captionhidden="on" style="z-index: 4; left: 851px; top: 127px; visibility: visible; opacity: 0; transform-origin: 50% 50% 0px; transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, -0.00166, 0, 0, 0, 1); -webkit-transform: none;">
                            <img src="Content/images/content/slider/rs-slider2-quadrate5.png" alt="" style="width: 170px; height: 169px;">
                        </div>

                        <div class="tp-caption customin customout start" data-x="right" data-hoffset="-164" data-y="112" data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:1;transformPerspective:600;transformOrigin:50% 50%;" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="1" data-start="9500" data-easing="Power0.easeOut" data-end="9800" data-endspeed="1" data-endeasing="Power0.easeIn" data-captionhidden="on" style="z-index: 4; left: 836px; top: 112px; visibility: visible; opacity: 0; transform-origin: 50% 50% 0px; transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, -0.00166, 0, 0, 0, 1); -webkit-transform: none;">
                            <img src="Content/images/content/slider/rs-slider2-quadrate6.png" alt="" style="width: 200px; height: 200px;">
                        </div>

                        <div class="tp-caption customin customout start" data-x="right" data-hoffset="-149" data-y="97" data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:1;transformPerspective:600;transformOrigin:50% 50%;" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="1" data-start="9600" data-easing="Power0.easeOut" data-end="9700" data-endspeed="1" data-endeasing="Power0.easeIn" data-captionhidden="on" style="z-index: 4; left: 820px; top: 97px; visibility: visible; opacity: 0; transform-origin: 50% 50% 0px; transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, -0.00166, 0, 0, 0, 1); -webkit-transform: none;">
                            <img src="Content/images/content/slider/rs-slider2-quadrate7.png" alt="" style="width: 231px; height: 231px;">
                        </div>
                    </div>

                    <div class="slotholder" style="width:100%;height:100%;" data-duration="undefined" data-zoomstart="undefined" data-zoomend="undefined" data-rotationstart="undefined" data-rotationend="undefined" data-ease="undefined" data-bgpositionend="undefined" data-bgposition="center top" data-kenburns="undefined" data-easeme="undefined" data-bgfit="cover" data-bgfitend="undefined" data-owidth="undefined" data-oheight="undefined"><div class="tp-bgimg defaultimg" data-lazyload="undefined" data-bgfit="cover" data-bgposition="center top" data-bgrepeat="no-repeat" data-lazydone="undefined" src="Content/images/content/slider/rs-slider2-bg.jpg" data-src="Content/images/content/slider/rs-slider2-bg.jpg" style="width: 100%; height: 100%; position: relative; opacity: 0; background-image: url('file:///C:/Users/APong/Downloads/progressive-template-main/Template%20v2.1.5%20(bootstrap%203)/img/content/slider/rs-slider2-bg.jpg'); background-color: rgba(0, 0, 0, 0); background-size: cover; background-position: 50% 0%; background-repeat: no-repeat;"></div></div>
                </li>

                <li data-delay="80000" data-transition="fade" data-slotamount="7" data-masterspeed="2000" style="width: 100%; height: 100%; overflow: hidden; visibility: visible; left: 0px; top: 0px; z-index: 20; opacity: 1;">
                    <div class="elements">
                        <div class="tp-caption lfl skewtoleft start" data-x="-121" data-y="bottom" data-speed="1500" data-start="1000" data-easing="Power4.easeOut" data-endspeed="1000" data-endeasing="Power1.easeIn" style="z-index: 1; left: -121px; top: 107px; visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1); -webkit-transform: none;">
                            <img src="Content/images/content/slider/rs-slider3-pig.png" alt="" style="width: 576px; height: 393px;">
                        </div>

                        <div class="tp-caption lfl skewtoleft start" data-x="-121" data-y="bottom" data-speed="1500" data-start="1000" data-easing="Power4.easeOut" data-endspeed="1000" data-endeasing="Power1.easeIn" style="z-index: 3; left: -121px; top: 107px; visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1); -webkit-transform: none;">
                            <img src="Content/images/content/slider/rs-slider3-pig2.png" alt="" style="width: 576px; height: 393px;">
                        </div>

                        <h2 class="tp-caption lft skewtotop title start" data-x="509" data-y="122" data-speed="1500" data-start="1000" data-easing="Power0.easeOut" data-endspeed="1000" data-endeasing="Power1.easeIn" style="min-height: 0px; min-width: 0px; line-height: 52px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 40px; left: 509px; top: 122px; visibility: visible; opacity: 1; transition: all 0s ease 0s; -webkit-transition: all 0s ease 0s; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1); -webkit-transform: none;">
                            <strong>Save money</strong>
                        </h2>

                        <h2 class="tp-caption lfr skewtoright title start" data-x="755" data-y="122" data-speed="1500" data-start="1000" data-easing="Power4.easeOut" data-endspeed="1000" data-endeasing="Power1.easeIn" style="min-height: 0px; min-width: 0px; line-height: 52px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 40px; left: 755px; top: 122px; visibility: visible; opacity: 1; transition: all 0s ease 0s; -webkit-transition: all 0s ease 0s; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1); -webkit-transform: none;">
                            on additional plugin!
                        </h2>

                        <div class="tp-caption customin customout description col-xs-5 start" data-x="526" data-y="196" data-customin="x:0;y:0;z:50;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0;" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="1000" data-start="1500" data-easing="Back.easeInOut" data-endspeed="400" data-endeasing="Power1.easeIn" style="min-height: 1px; min-width: 0px; line-height: 25px; border-width: 0px; margin: 0px; padding: 0px 15px; letter-spacing: 0px; font-size: 17px; left: 526px; top: 196px; visibility: visible; opacity: 1; transform-origin: 50% 0px 0px; transition: all 0s ease 0s; -webkit-transition: all 0s ease 0s; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 50, 0.875); -webkit-transform: none;">
                            <p>
                                Create a responsive or fullwidth slider with must-see-effects.
                                Plugin features tons of unique transition effects, an image
                                preloader, video embedding, autoplay and lots of easy to
                                set options to create your own effects.
                            </p>
                        </div>

                        <a href="http://themeforest.net/item/progressive-multipurpose-responsive-template/7197521" class="tp-caption btn orang lfb skewtobottom btn-default start" data-x="509" data-y="338" data-speed="1000" data-start="1500" data-easing="Power3.easeInOut" data-endspeed="300" style="min-height: 0px; min-width: 0px; line-height: 22px; border-width: 0px; margin: 0px; padding: 10px 20px; letter-spacing: 0px; font-size: 14px; left: 509px; top: 338px; visibility: visible; opacity: 1; transition: background 0.2s linear 0s, color 0.2s linear 0s; -webkit-transition: background 0.2s linear 0s, color 0.2s linear 0s; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1); -webkit-transform: none;">
                            Read more
                        </a>

                        <div class="tp-caption lft customout start" data-x="136" data-y="140" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="500" data-start="2200" data-easing="Power4.easeOut" data-end="2400" data-endspeed="100" data-endeasing="Power1.easeIn" style="z-index: 2; left: 136px; top: 140px; visibility: visible; opacity: 0; transform-origin: 50% 50% 0px; transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, -0.00166, 0, 0, 0, 1); -webkit-transform: none;">
                            <img src="Content/images/content/slider/rs-slider3-coin.png" alt="" style="width: 64px; height: 68px;">
                        </div>

                        <div class="tp-caption lft customout start" data-x="136" data-y="30" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="500" data-start="2700" data-easing="Power4.easeOut" data-endeasing="Power1.easeIn" style="z-index: 2; left: 136px; top: 30px; visibility: visible; opacity: 1; transform-origin: 50% 50% 0px; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1); -webkit-transform: none;">
                            <img src="Content/images/content/slider/rs-slider3-coin.png" alt="" style="width: 64px; height: 68px;">
                        </div>
                    </div>

                    <div class="slotholder" style="width:100%;height:100%;" data-duration="undefined" data-zoomstart="undefined" data-zoomend="undefined" data-rotationstart="undefined" data-rotationend="undefined" data-ease="undefined" data-bgpositionend="undefined" data-bgposition="center top" data-kenburns="undefined" data-easeme="undefined" data-bgfit="cover" data-bgfitend="undefined" data-owidth="undefined" data-oheight="undefined"><div class="tp-bgimg defaultimg" data-lazyload="undefined" data-bgfit="cover" data-bgposition="center top" data-bgrepeat="no-repeat" data-lazydone="undefined" src="Content/images/content/slider/rs-slider3-bg.jpg" data-src="Content/images/content/slider/rs-slider3-bg.jpg" style="width: 100%; height: 100%; position: relative; opacity: 1; background-image: url('file:///C:/Users/APong/Downloads/progressive-template-main/Template%20v2.1.5%20(bootstrap%203)/img/content/slider/rs-slider3-bg.jpg'); background-color: rgba(0, 0, 0, 0); background-size: cover; background-position: 50% 0%; background-repeat: no-repeat;"></div></div>
                </li>
            </ul>
            <div class="tp-bannertimer" style="width: 70.5850000000001%; visibility: visible;"></div>
            <div class="tp-loader spinner0" style="visibility: hidden; opacity: 0;"><div class="dot1"></div><div class="dot2"></div><div class="bounce1"></div><div class="bounce2"></div><div class="bounce3"></div></div>
        </div>
        <div style="position: absolute; margin-top: -20px; left: 20px; top: 250px;" class="tp-leftarrow tparrows default hidearrows"></div><div style="position: absolute; margin-top: -20px; right: 20px; top: 250px;" class="tp-rightarrow tparrows default hidearrows"></div>
    </div>
</div>

<div class="banner-set">
    <div class="container">
        <div class="caroufredsel_wrapper" style="display: block; text-align: start; float: none; top: auto; right: auto; bottom: auto; left: auto; z-index: auto; margin: 0px; overflow: hidden; position: relative; width: 1170px; height: 314px;">
            <div class="banners" style="text-align: left; float: none; position: absolute; right: auto; bottom: auto; margin: 0px; top: 0px; left: 1px; width: 4674px; height: 314px;">
                <a href="#" class="banner" style="height: 314px;">
                    <img src="http://placehold.it/253x158" width="253" height="158" alt="">
                    <h2 class="title">Home Theater</h2>
                    <div class="description">Nunc condimentum eros vel nibh consectetur dignissim. Ut ante neque, ullamcorper ac feugiat at, ullamcorper sagittis magna.</div>
                </a>
                <a href="#" class="banner" style="height: 314px;">
                    <img src="http://placehold.it/253x158" width="253" height="158" alt="">
                    <h2 class="title">Multiroom</h2>
                    <div class="description">Maecenas ac leo velit. Aliquam venenatis tellus in erat pellentesque ut dignissim turpis consequat. Fusce sit amet sagittis urna.</div>
                </a>
                <a href="#" class="banner" style="height: 314px;">
                    <img src="http://placehold.it/253x158" width="253" height="158" alt="">
                    <h2 class="title">Lighting Control</h2>
                    <div class="description">Phasellus quis mauris non mauris sceleris vehicula. Vestibulum ipsum odio, placerat sed consequat in, congue non nibh.</div>
                </a>
                <a href="#" class="banner" style="margin-right: 1px; height: 314px;">
                    <img src="http://placehold.it/253x158" width="253" height="158" alt="">
                    <h2 class="title">Amazing Sound</h2>
                    <div class="description">Maecenas et massa odio, tincidunt ultrices sapien. Praesent non tortor quis metus posuere gravida at quis nulla.</div>
                </a>
                <a href="#" class="banner" style="height: 314px;">
                    <img src="http://placehold.it/253x158" width="253" height="158" alt="">
                    <h2 class="title">Home Theater</h2>
                    <div class="description">Nunc condimentum eros vel nibh consectetur dignissim. Ut ante neque, ullamcorper ac feugiat at, ullamcorper sagittis magna.</div>
                </a>
                <a href="#" class="banner" style="height: 314px;">
                    <img src="http://placehold.it/253x158" width="253" height="158" alt="">
                    <h2 class="title">Multiroom</h2>
                    <div class="description">Maecenas ac leo velit. Aliquam venenatis tellus in erat pellentesque ut dignissim turpis consequat. Fusce sit amet sagittis urna.</div>
                </a>
            </div>
        </div><!-- .banners -->
        <div class="clearfix"></div>
    </div>
    <div class="nav-box">
        <div class="container">
            <a class="prev" href="#" style="display: inline-block;"><span class="glyphicon glyphicon-arrow-left"></span></a>
            <div class="pagination switches" style="display: inline-block;"><a href="#" class="selected"><span>1</span></a><a href="#"><span>2</span></a><a href="#"><span>3</span></a><a href="#"><span>4</span></a><a href="#"><span>5</span></a><a href="#"><span>6</span></a></div>
            <a class="next" href="#" style="display: inline-block;"><span class="glyphicon glyphicon-arrow-right"></span></a>
        </div>
    </div>
</div>

<div class="clearfix"></div>

<section id="main">
    <div class="container">
        <article class="content">
            <div class="features-promo carousel-box bottom-padding overflow no-pagination">
                <div class="title-box">
                    <a class="next" href="#" style="display: block;">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="9px" height="16px" viewBox="0 0 9 16" enable-background="new 0 0 9 16" xml:space="preserve">
                        <polygon fill-rule="evenodd" clip-rule="evenodd" fill="#fcfcfc" points="1,0.001 0,1.001 7,8 0,14.999 1,15.999 9,8 "></polygon>
			</svg>
                    </a>
                    <a class="prev" href="#" style="display: block;">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="9px" height="16px" viewBox="0 0 9 16" enable-background="new 0 0 9 16" xml:space="preserve">
                        <polygon fill-rule="evenodd" clip-rule="evenodd" fill="#fcfcfc" points="8,15.999 9,14.999 2,8 9,1.001 8,0.001 0,8 "></polygon>
			</svg>
                    </a>
                    <h1 class="title">Features</h1>
                </div>
                <div class="clearfix"></div>

                <div class="row">
                    <div class="caroufredsel_wrapper" style="display: block; text-align: start; float: none; top: auto; right: auto; bottom: auto; left: auto; z-index: auto; margin: 0px; overflow: hidden; position: relative; width: 1200px; height: 115px;">
                        <div class="carousel no-responsive" style="text-align: left; float: none; position: absolute; right: auto; bottom: auto; margin: 0px; top: 0px; left: 0px; width: 4200px; height: 115px;">
                            <div class="text-small features-block col-sm-3 col-md-3" style="">
                                <div class="header-box">
                                    <div class="icon-box">
                                        <i class="fa fa-desktop"></i>
                                    </div>
                                    <h6>Responsive Design</h6>
                                </div>
                                <div>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat.</div>
                            </div>

                            <div class="text-small features-block col-sm-3 col-md-3" style="">
                                <div class="header-box">
                                    <div class="icon-box">
                                        <i class="fa fa-edit"></i>
                                    </div>
                                    <h6>Color Customization</h6>
                                </div>
                                <div>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. It is a long established fact that a reader will be distracted.</div>
                            </div>

                            <div class="text-small features-block col-sm-3 col-md-3" style="">
                                <div class="header-box">
                                    <div class="icon-box">
                                        <i class="fa fa-gears"></i>
                                    </div>
                                    <h6>Easy Setup</h6>
                                </div>
                                <div>The readable content of a page when looking at its layout. The point of using. Duis aute irure dolor reprehenderit in voluptate velit esse cillum.</div>
                            </div>

                            <div class="text-small features-block col-sm-3 col-md-3" style="margin-right: 0px;">
                                <div class="header-box">
                                    <div class="icon-box">
                                        <i class="fa fa-picture-o"></i>
                                    </div>
                                    <h6>HTML5 &amp; CSS3</h6>
                                </div>
                                <div>Excepteur sint occaecat cupidatat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</div>
                            </div>

                            <div class="text-small features-block col-sm-3 col-md-3" style="">
                                <div class="header-box">
                                    <div class="icon-box">
                                        <i class="fa fa-edit"></i>
                                    </div>
                                    <h6>Color Customization</h6>
                                </div>
                                <div>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. It is a long established fact that a reader will be distracted.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- .features-promo -->

            <div class="full-width-box bottom-padding loaded" style="padding-bottom: 36px; left: -15px; width: 1200px;">
                <div class="fwb-bg band-11"><div class="overlay"></div></div>

                <div class="container">
                    <div class="row text-center">
                        <div class="col-sm-6 col-md-3">
                            <div class="pricing">
                                <div class="title"><a href="#">First Package</a></div>
                                <div class="price-box">
                                    <div class="icon pull-right circle"><i class="icon-android"></i></div>
                                    <div class="starting">Starting at</div>
                                    <div class="price">$199<span>/month</span></div>
                                </div>
                                <ul class="options">
                                    <li><span><i class="fa fa-check"></i></span>Responsive Design</li>
                                    <li class="active"><span><i class="fa fa-check"></i></span>Styled elements</li>
                                    <li><span><i class="fa fa-check"></i></span>Easy Setup</li>
                                </ul>
                                <div class="bottom-box">
                                    <a href="#" class="more">Read more <span class="fa fa-angle-right"></span></a>
                                    <div class="rating-box">
                                        <div style="width: 60%" class="rating">
                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="73px" height="12px" viewBox="0 0 73 12" enable-background="new 0 0 73 12" xml:space="preserve">
                                            <polygon fill-rule="evenodd" clip-rule="evenodd" fill="#1e1e1e" points="6.5,0 8,5 13,5 9,7.7 10,12 6.5,9.2 3,12 4,7.7 0,5 5,5"></polygon>
                                            <polygon fill-rule="evenodd" clip-rule="evenodd" fill="#1e1e1e" points="66.5,0 68,5 73,5 69,7.7 70,12 66.5,9.2 63,12 64,7.7 60,5 65,5 "></polygon>
                                            <polygon fill-rule="evenodd" clip-rule="evenodd" fill="#1e1e1e" points="21.5,0 23,5 28,5 24,7.7 25,12 21.5,9.2 18,12 19,7.7 15,5 20,5 "></polygon>
                                            <polygon fill-rule="evenodd" clip-rule="evenodd" fill="#1e1e1e" points="51.5,0 53,5 58,5 54,7.7 55,12 51.5,9.2 48,12 49,7.7 45,5 50,5 "></polygon>
                                            <polygon fill-rule="evenodd" clip-rule="evenodd" fill="#1e1e1e" points="36.5,0 38,5 43,5 39,7.7 40,12 36.5,9.2 33,12 34,7.7 30,5 35,5 "></polygon>
					  </svg>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <button class="btn btn-default btn-lg">Buy Now</button>
                                </div>
                            </div><!-- .pricing -->
                        </div>

                        <div class="col-sm-6 col-md-3">
                            <div class="pricing prising-info">
                                <div class="title"><a href="#">Second Package</a></div>
                                <div class="price-box">
                                    <div class="icon pull-right circle"><i class="icon-android"></i></div>
                                    <div class="starting">Starting at</div>
                                    <div class="price">$299<span>/month</span></div>
                                </div>
                                <ul class="options">
                                    <li><span><i class="fa fa-check"></i></span>Responsive Design</li>
                                    <li class="active"><span><i class="fa fa-check"></i></span>Styled elements</li>
                                    <li><span><i class="fa fa-check"></i></span>Easy Setup</li>
                                </ul>
                                <div class="bottom-box">
                                    <a href="#" class="more">Read more <span class="fa fa-angle-right"></span></a>
                                    <div class="rating-box">
                                        <div style="width: 80%" class="rating">
                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="73px" height="12px" viewBox="0 0 73 12" enable-background="new 0 0 73 12" xml:space="preserve">
                                            <polygon fill-rule="evenodd" clip-rule="evenodd" fill="#1e1e1e" points="6.5,0 8,5 13,5 9,7.7 10,12 6.5,9.2 3,12 4,7.7 0,5 5,5"></polygon>
                                            <polygon fill-rule="evenodd" clip-rule="evenodd" fill="#1e1e1e" points="66.5,0 68,5 73,5 69,7.7 70,12 66.5,9.2 63,12 64,7.7 60,5 65,5 "></polygon>
                                            <polygon fill-rule="evenodd" clip-rule="evenodd" fill="#1e1e1e" points="21.5,0 23,5 28,5 24,7.7 25,12 21.5,9.2 18,12 19,7.7 15,5 20,5 "></polygon>
                                            <polygon fill-rule="evenodd" clip-rule="evenodd" fill="#1e1e1e" points="51.5,0 53,5 58,5 54,7.7 55,12 51.5,9.2 48,12 49,7.7 45,5 50,5 "></polygon>
                                            <polygon fill-rule="evenodd" clip-rule="evenodd" fill="#1e1e1e" points="36.5,0 38,5 43,5 39,7.7 40,12 36.5,9.2 33,12 34,7.7 30,5 35,5 "></polygon>
					  </svg>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <button class="btn btn-info btn-lg">Buy Now</button>
                                </div>
                            </div><!-- .pricing -->
                        </div>

                        <div class="col-sm-6 col-md-3">
                            <div class="pricing pricing-success">
                                <div class="title"><a href="#">Third Package</a></div>
                                <div class="price-box">
                                    <div class="icon pull-right circle"><i class="icon-android"></i></div>
                                    <div class="starting">Starting at</div>
                                    <div class="price">$399<span>/month</span></div>
                                </div>
                                <ul class="options">
                                    <li class="active"><span><i class="fa fa-check"></i></span>Responsive Design</li>
                                    <li class="active"><span><i class="fa fa-check"></i></span>Styled elements</li>
                                    <li><span><i class="fa fa-check"></i></span>Easy Setup</li>
                                </ul>
                                <div class="bottom-box">
                                    <a href="#" class="more">Read more <span class="fa fa-angle-right"></span></a>
                                    <div class="rating-box">
                                        <div style="width: 80%" class="rating">
                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="73px" height="12px" viewBox="0 0 73 12" enable-background="new 0 0 73 12" xml:space="preserve">
                                            <polygon fill-rule="evenodd" clip-rule="evenodd" fill="#1e1e1e" points="6.5,0 8,5 13,5 9,7.7 10,12 6.5,9.2 3,12 4,7.7 0,5 5,5"></polygon>
                                            <polygon fill-rule="evenodd" clip-rule="evenodd" fill="#1e1e1e" points="66.5,0 68,5 73,5 69,7.7 70,12 66.5,9.2 63,12 64,7.7 60,5 65,5 "></polygon>
                                            <polygon fill-rule="evenodd" clip-rule="evenodd" fill="#1e1e1e" points="21.5,0 23,5 28,5 24,7.7 25,12 21.5,9.2 18,12 19,7.7 15,5 20,5 "></polygon>
                                            <polygon fill-rule="evenodd" clip-rule="evenodd" fill="#1e1e1e" points="51.5,0 53,5 58,5 54,7.7 55,12 51.5,9.2 48,12 49,7.7 45,5 50,5 "></polygon>
                                            <polygon fill-rule="evenodd" clip-rule="evenodd" fill="#1e1e1e" points="36.5,0 38,5 43,5 39,7.7 40,12 36.5,9.2 33,12 34,7.7 30,5 35,5 "></polygon>
					  </svg>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <button class="btn btn-success btn-lg">Buy Now</button>
                                </div>
                            </div><!-- .pricing -->
                        </div>

                        <div class="col-sm-6 col-md-3">
                            <div class="pricing pricing-error">
                                <div class="title"><a href="#">Fourth Package</a></div>
                                <div class="price-box">
                                    <div class="icon pull-right circle"><i class="icon-android"></i></div>
                                    <div class="starting">Starting at</div>
                                    <div class="price">$499<span>/month</span></div>
                                </div>
                                <ul class="options">
                                    <li class="active"><span><i class="fa fa-check"></i></span>Responsive Design</li>
                                    <li class="active"><span><i class="fa fa-check"></i></span>Styled elements</li>
                                    <li class="active"><span><i class="fa fa-check"></i></span>Easy Setup</li>
                                </ul>
                                <div class="bottom-box">
                                    <a href="#" class="more">Read more <span class="fa fa-angle-right"></span></a>
                                    <div class="rating-box">
                                        <div style="width: 100%" class="rating">
                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="73px" height="12px" viewBox="0 0 73 12" enable-background="new 0 0 73 12" xml:space="preserve">
                                            <polygon fill-rule="evenodd" clip-rule="evenodd" fill="#1e1e1e" points="6.5,0 8,5 13,5 9,7.7 10,12 6.5,9.2 3,12 4,7.7 0,5 5,5"></polygon>
                                            <polygon fill-rule="evenodd" clip-rule="evenodd" fill="#1e1e1e" points="66.5,0 68,5 73,5 69,7.7 70,12 66.5,9.2 63,12 64,7.7 60,5 65,5 "></polygon>
                                            <polygon fill-rule="evenodd" clip-rule="evenodd" fill="#1e1e1e" points="21.5,0 23,5 28,5 24,7.7 25,12 21.5,9.2 18,12 19,7.7 15,5 20,5 "></polygon>
                                            <polygon fill-rule="evenodd" clip-rule="evenodd" fill="#1e1e1e" points="51.5,0 53,5 58,5 54,7.7 55,12 51.5,9.2 48,12 49,7.7 45,5 50,5 "></polygon>
                                            <polygon fill-rule="evenodd" clip-rule="evenodd" fill="#1e1e1e" points="36.5,0 38,5 43,5 39,7.7 40,12 36.5,9.2 33,12 34,7.7 30,5 35,5 "></polygon>
					  </svg>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <button class="btn btn-danger btn-lg">Buy Now</button>
                                </div>
                            </div><!-- .pricing -->
                        </div>
                    </div>
                </div>
            </div><!-- .full-width-box -->

            <div class="content-block bottom-padding frame text-center">
                <p class="lead">Welcome to our site. There are many variations alteration in some form, by injected humour, or randomised words which don't look even slightly believable. Donec pharetra, lectus nec dignissim pharetra quis libero. </p>
                <button class="btn btn-default appear-animation bounceIn appear-animation-visible" data-appear-animation="bounceIn">Read More</button>
                <button class="btn btn-default appear-animation bounceIn appear-animation-visible" data-appear-animation="bounceIn">Join Now</button>
            </div><!-- .content-block -->

            <div class="full-width-box bottom-padding loaded" style="left: -15px; width: 1200px;">
                <div class="fwb-bg fwb-fixed band-12"><div class="overlay"></div></div>

                <div class="container">
                    <div class="carousel-box overflow no-nav" data-carousel-pagination="true" data-carousel-nav="false" data-carousel-autoplay="true">
                        <div class="clearfix"></div>

                        <div class="row">
                            <div class="caroufredsel_wrapper" style="display: block; text-align: start; float: none; top: auto; right: auto; bottom: auto; left: auto; z-index: auto; margin: 0px; overflow: hidden; position: relative; width: 1200px; height: 200px;">
                                <div class="carousel no-responsive" style="text-align: left; float: none; position: absolute; right: auto; bottom: auto; margin: 0px; top: 0px; width: 4200px; height: 200px; left: 0px; z-index: auto;">









                                    <div class="col-sm-4 col-md-3" style="margin-right: 0px;">
                                        <a href="portfolio-single.html" class="work">
                                            <img src="http://placehold.it/370x270" width="370" height="270" alt="">
                                            <span class="shadow"></span>
                                            <div class="bg-hover"></div>
                                            <div class="work-title">
                                                <h3 class="title">Morbi non lacus ac sapien molestie</h3>
                                                <div class="description">Web design</div>
                                            </div>
                                        </a>
                                    </div><div class="col-sm-4 col-md-3" style="margin-right: 0px;">
                                        <a href="portfolio-single.html" class="work">
                                            <img src="http://placehold.it/370x270" width="370" height="270" alt="">
                                            <span class="shadow"></span>
                                            <div class="bg-hover"></div>
                                            <div class="work-title">
                                                <h3 class="title">Morbi non lacus ac sapien molestie</h3>
                                                <div class="description">Web design</div>
                                            </div>
                                        </a>
                                    </div><div class="col-sm-4 col-md-3" style="margin-right: 0px;">
                                        <a href="portfolio-single.html" class="work">
                                            <img src="http://placehold.it/370x270" width="370" height="270" alt="">
                                            <span class="shadow"></span>
                                            <div class="bg-hover"></div>
                                            <div class="work-title">
                                                <h3 class="title">Morbi non lacus ac sapien molestie</h3>
                                                <div class="description">Web design</div>
                                            </div>
                                        </a>
                                    </div><div class="col-sm-4 col-md-3" style="margin-right: 0px;">
                                        <a href="portfolio-single.html" class="work">
                                            <img src="http://placehold.it/370x270" width="370" height="270" alt="">
                                            <span class="shadow"></span>
                                            <div class="bg-hover"></div>
                                            <div class="work-title">
                                                <h3 class="title">Morbi non lacus ac sapien molestie</h3>
                                                <div class="description">Web design</div>
                                            </div>
                                        </a>
                                    </div><div class="col-sm-4 col-md-3" style="margin-right: 0px;">
                                        <a href="portfolio-single.html" class="work">
                                            <img src="http://placehold.it/370x270" width="370" height="270" alt="">
                                            <span class="shadow"></span>
                                            <div class="bg-hover"></div>
                                            <div class="work-title">
                                                <h3 class="title">Morbi non lacus ac sapien molestie</h3>
                                                <div class="description">Web design</div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="pagination switches" style="display: inline-block;"><a href="#" class=""><span>1</span></a><a href="#" class="selected"><span>2</span></a><a href="#" class=""><span>3</span></a><a href="#" class=""><span>4</span></a><a href="#" class=""><span>5</span></a></div>
                        </div>
                    </div>
                </div>
            </div><!-- .full-width-box -->

            <div class="row">
                <div class="col-sm-12 col-md-6 promo-partners bottom-padding">
                    <div class="title-box">
                        <h2 class="title">Our partners</h2>
                    </div>
                    <div class="row manufactures manufactures-list">
                        <div class="make-wrapper">
                            <a href="#" class="make">
                                <img src="http://placehold.it/128x128" width="128" height="128" alt="">
                            </a>
                        </div>
                        <!--

                        -->
                        <div class="make-wrapper">
                            <a href="#" class="make">
                                <img src="http://placehold.it/128x128" width="128" height="128" alt="">
                            </a>
                        </div>
                        <!--

                        -->
                        <div class="make-wrapper">
                            <a href="#" class="make">
                                <img src="http://placehold.it/128x128" width="128" height="128" alt="">
                            </a>
                        </div>
                    </div>
                    <p>Duis bibendum pulvinar laoreet. Ut eu arcu sit amet elit placerat pharetra sit amet a tortor. Fusce vestibulum auctor rhoncus. Nullam rhoncus, tellus a congue elementum, leo ipsum tincidunt justo, ut condimentum velit eros et lectus. Phasellus ultrices rhoncus vehicula.</p>
                    <p>Integer ultricies semper massa non condimentum. Phasellus eu ipsum justo. Nullam non pulvinar purus. Ut ante ipsum, venenatis at tristique quis, congue vitae felis. Aliquam cursus diam in massa dapibus auctor. In volutpat, risus non egestas luctus, justo tellus laoreet justo. </p>
                </div><!-- .promo-partners -->

                <div class="col-sm-12 col-md-6">
                    <div class="title-box">
                        <a href="#" class="btn btn-default">All posts <i class="icon-arrow-right icon-white"></i></a>
                        <h2 class="title">Latest Posts</h2>
                    </div>
                    <ul class="latest-posts">
                        <li>
                            <img class="image img-circle appear-animation rotateIn appear-animation-visible" src="http://placehold.it/84x84" alt="" title="" width="84" height="84" data-appear-animation="rotateIn">
                            <div class="meta">
                                <span>Mike Example</span>,
                                <span class="time">03.11.2013, 10:45:</span>
                            </div>
                            <div class="description">
                                <a href="#">
                                    Suspendisse at placerat turpis. Duis luctus erat vel magna pharetra aliquet. Maecenas tincidunt feugiat ultricies. Phasellus et dui risus.
                                </a>
                            </div>
                        </li>
                        <li>
                            <img class="image img-circle appear-animation rotateIn appear-animation-visible" src="http://placehold.it/84x84" alt="" title="" width="84" height="84" data-appear-animation="rotateIn">
                            <div class="meta">
                                <span>Mike Example</span>,
                                <span class="time">03.11.2013, 10:45:</span>
                            </div>
                            <div class="description">
                                <a href="#">
                                    Maecenas porttitor orci vitae turpis interdum sit amet dignissim dolor consequat. Aenean id erat lorem.
                                </a>
                            </div>
                        </li>
                        <li>
                            <img class="image img-circle appear-animation rotateIn appear-animation-visible" src="http://placehold.it/84x84" alt="" title="" width="84" height="84" data-appear-animation="rotateIn">
                            <div class="meta">
                                <span>Mike Example</span>,
                                <span class="time">03.11.2013, 10:45:</span>
                            </div>
                            <div class="description">
                                <a href="#">
                                    Mauris vehicula fringilla nisl porttitor sollicitudin. Suspendisse facilisis metus id neque fermentum eget rutrum orci pulvinar.
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </article>
    </div>
</section>




<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>